body{
    background-color: azure;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h1 header {
    text-align: center;
}

.product header {
    border: solid lightblue 1px;
    text-align: center;
}
.product img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.product {
    box-shadow: 5px 10px slategray;
    margin: 25px;
    padding: 5px;
    border: dashed lightgray 4px;
    width: 25%;
}
.specification h3 {
    font-weight: bold;
}
.specification p{
    font-weight: bold;
}
.pricing {
    font-weight: bold;
}
#avaliable{
    background-color: darkgrey;
    color: yellow;

}

.productType h3 {
    text-align: justify;
    flex-wrap: wrap;
}

.product img{
    display: flex;
    text-align: justify;
    
}