body{
    font-family: 'Ibarra Real Nova', serif;
    background-color: #009688;   
}

header h1{
    text-align: center;
    background-color: #B2DFDB;
    width: 70%;
    border-radius: 15%;
    color: #212121;
    margin-left: auto;
    margin-right: auto; 
    border: solid 2px #FF5722;
}

.product header {
    border: solid #BDBDBD 4px;
    text-align: center ;
    background-color: #00796B;
    margin: 4px;
    border-radius: 16%;
    color: #FFFFFF;
}
.product img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.product {
    box-shadow: 5px 10px #BDBDBD;
    margin: auto;
    margin-top: 25px;
    border: dashed #FF5722 4px;
    width: 250px; 
    background-color: #B2DFDB;
}

.productType{
    position: relative;
}

.over-img {
    position: absolute;
    top: 5px;
    width: 50px;

}

.specification h3 {
    font-weight: bold;
}
.specification p{
    font-weight: bold;
}
.pricing {
    font-weight: bold;
}
#avaliable{
    background-color: darkgrey;
    color: #FF5722;
}

.productType h3 {
    text-align: justify;
    flex-wrap: wrap;
}

.product img{
    text-align: justify;
    width: 100%;
    height: 100%;     
}

main{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}